[submodule "extern/concurrentqueue"]
	path = extern/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "extern/zig-clap"]
	path = extern/zig-clap
	url = https://github.com/Hejsil/zig-clap
